@plugin "daisyui/theme" {
  name: "tinyrack-light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #f1f5f9;
  --color-base-300: #cbd5e1;
  --color-base-content: #0f172a;
  --color-primary: #1762ae;
  --color-primary-content: #ffffff;
  --color-secondary: #f75b18;
  --color-secondary-content: #ffffff;
  --color-accent: #8ed0ff;
  --color-accent-content: #112c4d;
  --color-neutral: #334155;
  --color-neutral-content: #f8fafc;
  --color-info: #0ea5e9;
  --color-info-content: #ffffff;
  --color-success: #16a34a;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #111827;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
  --radius-selector: 0.75rem;
  --radius-field: 0.375rem;
  --radius-box: 1rem;
}

@plugin "daisyui/theme" {
  name: "tinyrack-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-base-content: #f8fafc;
  --color-primary: #58b4fb;
  --color-primary-content: #020617;
  --color-secondary: #ffa16d;
  --color-secondary-content: #411006;
  --color-accent: #194675;
  --color-accent-content: #eef7ff;
  --color-neutral: #e2e8f0;
  --color-neutral-content: #020617;
  --color-info: #0ea5e9;
  --color-info-content: #ffffff;
  --color-success: #16a34a;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #111827;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
  --radius-selector: 0.75rem;
  --radius-field: 0.375rem;
  --radius-box: 1rem;
}
