@import "@tinyrack/ui/components/alert.css";

@layer components {
  .tr-callout {
    margin-block: var(--tinyrack-space-xl);
  }
  .tr-callout .tr-alert-description > :first-child {
    margin-block-start: 0;
  }
  .tr-callout .tr-alert-description > :last-child {
    margin-block-end: 0;
  }
}
