@import "../icon-button/icon-button.css";

@layer components {
  .tr-color-scheme-toggle-icon {
    --_tr-color-scheme-icon-size: var(--tinyrack-space-lg);
    --_tr-color-scheme-ring-size: var(--tinyrack-space-xs);
    --_tr-color-scheme-moon-x: calc(var(--tinyrack-space-xs) * -1);
    --_tr-color-scheme-moon-y: calc(var(--tinyrack-space-3xs) * 2);
    --_tr-color-scheme-ring-shadow: 0 0 0 var(--_tr-color-scheme-ring-size)
      color-mix(in srgb, currentColor 20%, transparent);
    --_tr-color-scheme-moon-shadow: var(--_tr-color-scheme-moon-x)
      var(--_tr-color-scheme-moon-y) 0 0 currentColor;
    background: currentColor;
    border-radius: 50%;
    block-size: var(--_tr-color-scheme-icon-size);
    box-shadow: var(--_tr-color-scheme-ring-shadow);
    display: block;
    inline-size: var(--_tr-color-scheme-icon-size);
  }
  .tr-color-scheme-toggle-icon[data-scheme="dark"] {
    background: transparent;
    box-shadow: var(--_tr-color-scheme-moon-shadow);
  }
}
